body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: 'none';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.heading-login{
  color:#272343 ;
  position: relative;
  top: -50px;

}
.box{
  box-shadow: 20px 20px 20px grey;
  width: 850px !important;
}
.form{
  padding: 0 5%;
}
.login-container {
display: flex !important;
flex-direction: row !important;
align-items: center !important; ;
}
.login-container img{
  height: 400px;
  color: #ffd803;
}
.button-primary {
  background-color:  #fce149 !important;
  border: 2px solid #272343 !important;
  border-radius: 5px !important;
  color: black!important;
  cursor: pointer;
  margin: 5px !important;
  
}
.button-primary:hover{
box-shadow: 0 3px 0 #272343 !important;

}
.button-secondary{

  border: 2px solid #272343 !important;
  border-radius: 5px !important;
  color: black!important;
  cursor: pointer;
  margin: 5px !important;

}

.button-secondary:hover{
  box-shadow: 0 3px 0 #272343 !important;
  }


.iamdoc{
margin: 0 auto !important;
}
.forme{
  height:1100px !important;
}
.formd{
  height:960px !important;
}
.form-content{
  padding: 3%  !important;
  border: 2px solid #272343;
  border-radius: 15px!important;
  height:980px !important;
  box-shadow: 10px 10px 10px grey;
}
hr{
  width: 50%;
  margin-left: 0 !important;
}